Data/Config/validate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="OutputDataFilesFolder" />
        <xs:element type="xs:string" name="TemporaryDataFilesFolder" />
        <xs:element name="ActiveLanguages">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Language" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Code" />
                    <xs:element type="xs:string" name="LongCode" />
                    <xs:element type="xs:string" name="DefaultLanguage" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WebsiteMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WebLink" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MessageText" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="ExpireDate" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TerritoryProfiles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Territory" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Code" />
                    <xs:element name="Name" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="WebLink" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Domains">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Domain" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="UniqueId" />
                    <xs:element name="Name" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="QuickStatsList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="QuickStatsItem" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="UniqueId" />
                                <xs:element type="xs:string" name="DecimalsNumber" />
                                <xs:element type="xs:string" name="SourceWebLink" />
                                <xs:element type="xs:string" name="ColorScale" />
                                <xs:element name="Coverage">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="TerritoryLowerLimit" />
                                      <xs:element type="xs:string" name="Timespan" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Name" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="GradeValues">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="GradeValue" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="GradeColors">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="GradeColor" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Measure" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Note" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ImputedTerritoriesNote" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="RestfulWebService" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Dsd" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Geo" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="DimensionId" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:string" name="BaseUrl" />
                                            <xs:element type="xs:string" name="RequestString" />
                                            <xs:element name="RequestParameters">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="RequestParameter" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="Name" />
                                                        <xs:element type="xs:string" name="Value" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Data" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="BaseUrl" />
                                            <xs:element type="xs:string" name="RequestString" />
                                            <xs:element name="RequestParameters">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="RequestParameter" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="Name" />
                                                        <xs:element type="xs:string" name="Value" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="Domain-UniqueId">
      <xs:selector xpath="Domains/Domain/UniqueId" />
      <xs:field xpath="." />
    </xs:unique>
    <xs:unique name="QuickStatsItem-UniqueId">
      <xs:selector xpath="Domains/Domain/QuickStatsList/QuickStatsItem/UniqueId" />
      <xs:field xpath="." />
    </xs:unique>
  </xs:element>
</xs:schema>